Eu quero fazer este componente abrir o modal com o iframe mostrando os sites de portfólio: "---
import { Image } from "astro:assets";
let { urlWebsite, title, image } = Astro.props;
let showModal = false;
---

<div class="bg-white rounded-lg flex flex-col md:flex-row lg:flex-row lg:items-center md:items-center overflow-hidden">
  <figure>
    {image && <Image src={image} alt={title} class="lg:w-32 md:w-64 h-36 object-cover"/>}
  </figure>
  <div class="p-4 w-full">
    <p class="text-2xl font-black">{title}</p>
    <button id="openModalBtn" class="text-sky-600">{urlWebsite}</button>
  </div>
</div>

<!-- Modal -->
<div class={`fixed top-0 left-0 w-full h-full bg-black bg-opacity-50 ${showModal ? 'flex' : 'hidden'} justify-center items-center`}>
  <div class="bg-white p-4 rounded-lg w-3/4 h-3/4 relative">
    <button id="closeModalBtn" class="absolute top-2 right-2">X</button>
    <iframe src={urlWebsite} class="w-full h-full"></iframe>
  </div>
</div>

<script>
  document.getElementById('openModalBtn').addEventListener('click', function() {
    showModal = true;
    Astro.reactiveUpdate();
  });

  document.getElementById('closeModalBtn').addEventListener('click', function() {
    showModal = false;
    Astro.reactiveUpdate();
  });
</script>"